services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
      
  postgres:
    image: postgres:latest
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgresData:/var/lib/postgresql

volumes:
  timescaledbData:
  postgresData:
